rapid_soh_estimation/rapid_soh_estimation/__pycache__/*
rapid_soh_estimation/rapid_soh_estimation/__pycache__/config.cpython-311.pyc
results/.DS_Store
.DS_Store
rapid_soh_estimation/rapid_soh_estimation/__pycache__/config.cpython-311.pyc
